/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.ytv {
    
}
.ytv__bottom {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.ytv__left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

}
.ytv__right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.ytv__right > .btn{

}
.profile {
    
}
.profile__text {
    
}
.icon {

}
.btn--flex {

}
.btn{
   display: flex;
   flex-direction: row;
   max-height: 20px;
}