/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 1em;
}

.ytv {
    max-height: 650px;
}
.ytv__bottom {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.ytv__left {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

}
.ytv__right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex-grow: 1;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile__text {
}
.icon {
}
.btn--flex {

}
.btn{
   display: flex;
   flex-direction: row;
   max-height: 20px;
}